<modal
  #modal
  cancelButtonLabel="cancel"
  submitButtonLabel="submit"
  [hideCloseButton]="true"
  (onClose)="onClose()"
  modalClass="modal-lg modal-sm any-other-css-class">
  <modal-header>
    <h4> {{(modalState$ | async)?.data?.title}}</h4>
  </modal-header>

  <modal-content>
    <img [src]="(modalState$ | async)?.data?.image"/>
    {{(modalState$ | async)?.data?.description}}
  </modal-content>

  <modal-footer>

  </modal-footer>

</modal>
<div class="row">
  <core-search-box (onInputChange)="onInputChange($event)" ></core-search-box>
</div>
<div class="row"  infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="onScroll()">
  <div class="card col-md-4"
       *ngFor="let item of ((eventsList$ | async) | search:
       {searchStr: searchStr, searchProp: ['title', description]})">
    <img class="card-img-top" [src]="item.image" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{item.title}}</h4>
      <p class="card-text">{{item.description}}</p>
      <button class="btn btn-primary" (click)="onViewDetail(item)">View</button>
    </div>
  </div>
</div>
